{% load static %}
<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
	<META HTTP-EQUIV="expires" CONTENT="0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset-1.0.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
</head>
<body>
<div id="header" class="header">
        <h1>Welcome</h1>
        <div class="banner banner-gj bc"></div>
    </div>
    <div id="wrap" class="wrap bc">
        <h2>
           {{ category.name }}

        </h2>
        <div class="survey">
            <h3 class="survey-content" id="content">
             {{sortnum|add:1}} . {{ question.name }}</h3>
            <ul class="survey-options" id="options">
                {% for answer in answers.all %}
                   <li class="survey-option" id="ans_{{answer.id}}">.{{ answer.name }}</li>
                {% endfor %}
            </ul>


           <form action="/answer/{{id}}/" method="post" name="fm" id="fm" >
           {% csrf_token %}
           <input type="hidden" id="type" name="type" value="0">
           <input type="hidden" id="sortnum" name="sortnum" value="{{sortnum}}">
            <div class="action bc clearfix">
                <input type="hidden" name="answer" id="answer" value="">
                {% if  sortnum < max|add:-1%}
                    <a class="action-next fr" id="next" target="_self">&nbsp;</a>
                {% endif %}
                {% if  sortnum == max|add:-1%}
                    <img alt="" src="{% static 'images/ok.png' %}"  id="next" onclick="btnSubmit();">
                {% endif %}
            </div>
            </form>
        </div>
    </div>



    <script type="text/javascript" src="{% static 'js/survey.js' %}"></script>


</body></html>
